<div class="container mx-auto p-8 flex flex-col gap-4">
  <h1 class="flex justify-center">MI MURO</h1>
  <div class="flex flex-col gap-4">
    <label>Filtrar posts</label>
    <div class="flex">
      <input
        type="text"
        [(ngModel)]="postsSearchValue"
        (input)="onInput($event)"
        placeholder="busca por palabra clave"
      />
      <button *ngIf="postsSearchValue" (click)="filterPosts()">buscar</button>
    </div>
    <app-post-form
      (isCreatingPostEmit)="isCreatingPost = $event"
      (createPostEmit)="getAllPosts()"
      [isCreatingPost]="isCreatingPost"
    ></app-post-form>
    <button *ngIf="!isCreatingPost" (click)="openPostForm()">Crear post</button>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 pt-4">
    <app-card
      *ngFor="let post of filteredPosts"
      [post]="post"
      (updatePostEmit)="getAllPosts()"
    ></app-card>
  </div>
</div>
